---
import type { GetStaticPathsOptions } from "astro";
import { getCollection, getEntry } from "astro:content";

import PageLayout from "@/layouts/PageLayout.astro";

const navigationPage = await getEntry("navigation", "blog");

if (navigationPage === undefined) {
  return Astro.redirect("/404");
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  return paginate(posts, { pageSize: 2 });
}

const { page } = Astro.props;
---

<PageLayout title={navigationPage.data.title} description={navigationPage.data.description}>
  {page.data.length ? (
    <ul>
      {page.data.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  ) : (
    <div class="prose dark:prose-invert">
      <h2>準備中です！</h2>
      <p>このページでは、ブログ記事を公開していきます。ただいまコンテンツを準備中ですので、しばらくお待ちください。</p>
    </div>
  )}
</PageLayout>
