---
import { ModeToggle } from "@/components/ModeToggle"
import { Logo } from "@/components/Logo"
import { HeaderSheet } from "@/components/HeaderSheet"
import { SITE } from "@/config"
---

<header class="container sticky top-0 flex justify-between items-center py-2">
  <a href="/">
    <Logo />
    <span class="sr-only">{SITE.title}</span>
  </a>
  <div class="flex items-center gap-2">
    <ModeToggle client:load />
    <HeaderSheet client:load />
  </div>
</header>
